asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
pandas
openpyxl
psycopg2
gunicorn
django-filter
Pillow
django-cors-headers
boto3
django-storages